@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

.loader {
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
